.main-button {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    position: relative;
    user-select: none;
    z-index: 1;

    border: none;
    border-radius: 100px;

    color: $second;

    font-size: 25px;
    padding: 10px 35px;

    transition: all .3s;

    @media screen and (max-width: $breakpoint) {
        font-size: 20px;
        padding: 10px 20px;
    }

    &::after {
        background-color: $main;
        border-radius: 10rem;
        bottom: 0;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: -2;
    }

    &::before {
        background-color: #00000020;
        border-radius: 10rem;
        bottom: 0;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        transition: all .3s;
        width: 0%;
        z-index: -1;
    }

    &:hover::before {
        width: 100%;
    }
}

.anim {
    & > * {
        opacity: 0;
        transform: translateY(100px);
    }

    &.visible > * {
        opacity: 1;
        transform: translateY(0);
        transition: opacity 1.2s ease, transform 1.2s ease;
    }

    &:not(.visible) > * {
        transition: opacity 0.2s ease, transform 0.2s ease;
    }
}

.second-button {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    position: relative;
    user-select: none;
    z-index: 1;

    border: $dark 1px solid;
    border-radius: 100px;

    color: $dark;

    font-size: 25px;
    padding: 10px 35px;

    transition: all .3s;

    @media screen and (max-width: $breakpoint) {
        font-size: 20px;
        padding: 10px 20px;
    }

    &::after {
        background-color: $second;
        border-radius: 10rem;
        bottom: 0;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: -2;
    }

    &::before {
        background-color: #00000020;
        border-radius: 10rem;
        bottom: 0;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        transition: all .3s;
        width: 0%;
        z-index: -1;
    }

    &:hover::before {
        width: 100%;
    }
}
