footer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    min-height: 400px;
    padding: 50px $marginSite;
    width: 100vw;

    background-color: #F1EEE8;
    color: #151713;

    @media screen and (max-width: $breakpoint) {
        flex-direction: column;
    }

    & > * {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 15px;
        height: 100%;
        width: 25%;

        @media screen and (max-width: $breakpoint) {
            width: 100%;
        }

        & a,
        h5 {
            color: #151713;
            font-size: 20px;
            font-weight: 200;
            text-decoration: none;
        }
    }
}
