.menu-overlay {
    overflow: hidden;
    position: fixed;
    z-index: 50;

    height: 0vh;
    width: 100vw;

    background-color: $dark;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 100px 10px;

    transition: height 0.15s;

    & > ul {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 100vh;
        justify-content: center;
        position: relative;
        width: 100vw;

        & > .is-visible {
            opacity: 1;
            transform: translateX(0px);
            transition: transform 0.25s ease, opacity 0.5s ease;
        }

        & > :not(.is-visible) {
            opacity: 0;
            transform: translateX(-50px);
            transition: transform 0s ease, opacity 0s ease;
        }

        & > li {
            animation: transform 0.5s;
            margin: 10px 0px;
        }
    }

    & a {
        color: $second;
        font-size: 80px;
        text-decoration: none;
        transition: color 0.2s ease;

        @media screen and (max-width: $breakpoint) {
            font-size: 40px;
        }

        &:hover {
            color: $main;
        }
    }
}