.menu-toggle {
    cursor: pointer;
    display: flex;
    justify-content: center;
    user-select: none;
    width: 50px;
    height: 50px;
    align-items: center;

    &:hover .bar {
        background-color: $main;
    }
}

.bar {
    background-color: $second;
    border-radius: 2px;
    height: 4px;
    position: absolute;
    width: 35px;

    transform-origin: center center;
    transition: transform 0.4s ease, opacity 0.3s ease, background-color 0.3s ease;

    &:nth-child(1) {
        transform: translateY(-11px) rotate(0deg);
    }

    &:nth-child(2) {
        transform: translateY(0px) rotate(0deg);
    }

    &:nth-child(3) {
        transform: translateY(11px) rotate(0deg);
    }
}

.menu-toggle.active {
    & .bar:nth-child(1) {
        transform: translateY(0px) rotate(45deg);
    }

    & .bar:nth-child(2) {
        opacity: 0;
    }

    & .bar:nth-child(3) {
        transform: translateY(0px) rotate(-45deg);
    }
}
