@charset "UTF-8";
.nav {
  height: 7vw;
  width: 100%;
  padding: 20px 7vw;
  box-sizing: border-box;
  position: fixed;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
  z-index: 100;
}
.nav-list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.nav-list > * {
  height: 100%;
  width: 33.333%;
  display: flex;
}
@media screen and (max-width: 1000px) {
  .nav-list > * {
    width: 100%;
  }
}

.main-button {
  user-select: none;
  font-size: 25px;
  padding: 10px 35px;
  border-radius: 100px;
  color: #F1EEE8;
  border: none;
  display: inline-block;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
  .main-button {
    font-size: 20px;
    padding: 10px 20px;
  }
}
.main-button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #8B2013;
  border-radius: 10rem;
  z-index: -2;
}
.main-button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1254901961);
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.main-button:hover::before {
  width: 100%;
}

.anim > * {
  opacity: 0;
  transform: translateY(100px);
}
.anim.visible > * {
  transition: opacity 1.2s ease, transform 1.2s ease;
  opacity: 1;
  transform: translateY(0);
}
.anim:not(.visible) > * {
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.second-button {
  user-select: none;
  font-size: 25px;
  padding: 10px 35px;
  border-radius: 100px;
  color: #151713;
  border: #151713 1px solid;
  display: inline-block;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
  .second-button {
    font-size: 20px;
    padding: 10px 20px;
  }
}
.second-button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F1EEE8;
  border-radius: 10rem;
  z-index: -2;
}
.second-button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1254901961);
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.second-button:hover::before {
  width: 100%;
}

footer {
  background-color: #F1EEE8;
  color: #151713;
  width: 100vw;
  min-height: 400px;
  padding: 50px 7vw;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
@media screen and (max-width: 1000px) {
  footer {
    flex-direction: column;
  }
}
footer > * {
  width: 25%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 15px;
}
@media screen and (max-width: 1000px) {
  footer > * {
    width: 100%;
  }
}
footer > * a, footer > * h5 {
  color: #151713;
  text-decoration: none;
  font-family: "questa-grande", serif;
  font-size: 20px;
  font-weight: 200;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body * {
  font-family: "questa-grande", serif;
  text-align: justify;
  text-justify: distribute;
}

.menu-toggle {
  width: 50px;
  height: 50px;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-toggle:hover .bar {
  background-color: #8B2013;
}

.bar {
  position: absolute;
  width: 35px;
  height: 4px;
  background-color: #F1EEE8;
  border-radius: 2px;
  transition: transform 0.4s ease, opacity 0.3s ease, background-color 0.3s ease;
  transform-origin: center center;
}
.bar:nth-child(1) {
  transform: translateY(-11px) rotate(0deg);
}
.bar:nth-child(2) {
  transform: translateY(0px) rotate(0deg);
}
.bar:nth-child(3) {
  transform: translateY(11px) rotate(0deg);
}

.menu-toggle.active .bar:nth-child(1) {
  transform: translateY(0px) rotate(45deg);
}
.menu-toggle.active .bar:nth-child(2) {
  opacity: 0;
}
.menu-toggle.active .bar:nth-child(3) {
  transform: translateY(0px) rotate(-45deg);
}

main {
  min-height: 100vh;
  background-color: #151713;
  color: #F1EEE8;
}

.menu-overlay {
  background-color: #151713;
  height: 0vh;
  width: 100vw;
  overflow: hidden;
  transition: height 0.15s;
  position: fixed;
  z-index: 50;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 100px 10px;
}
.menu-overlay > ul {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.menu-overlay > ul > .is-visible {
  transition: transform 0.25s ease, opacity 0.5s ease;
  transform: translateX(0px);
  opacity: 1;
}
.menu-overlay > ul > :not(.is-visible) {
  transition: transform 0s ease, opacity 0s ease;
  transform: translateX(-50px);
  opacity: 0;
}
.menu-overlay > ul > li {
  margin: 10px 0px;
  animation: transform 0.5s;
}
.menu-overlay a {
  text-decoration: none;
  color: #F1EEE8;
  font-size: 80px;
  transition: color 0.2s ease;
}
@media screen and (max-width: 1000px) {
  .menu-overlay a {
    font-size: 40px;
  }
}
.menu-overlay a:hover {
  color: #8B2013;
}

.social-links-nav {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  width: 25vw;
  box-sizing: border-box;
  top: 90vh;
  left: 75vw;
  color: #F1EEE8;
  padding: 0px 7vw;
}
.social-links-nav > * {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
}
.social-links-nav > * > * {
  height: 30px;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

.page {
  padding: 150px 7vw 100px 7vw;
  box-sizing: border-box;
}
.page h1 {
  font-size: 70px;
  font-weight: 600;
  padding: 0px 0 20px 0;
}
.page h2 {
  padding: 70px 0 20px 0;
}
.page h3 {
  padding: 20px 0 10px 0;
}
.page p {
  padding: 2px 0px;
}
.page .buttons-group {
  padding: 20px 0px;
}
.page img {
  padding: 20px 0px;
}

.logo-el {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 33.333%;
}
.logo-el > a {
  max-width: 100%;
  max-height: 100%;
}
.logo-el > a > img {
  border: #F1EEE8 solid 1px;
  max-width: 100px;
  max-height: 100px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  transition: box-shadow 0.3s ease;
}

.home-1 {
  height: 100vh;
  width: 100vw;
}
.home-1-1 {
  height: 90%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 1000px) {
  .home-1-1 {
    width: 100%;
  }
}
.home-1-1 > * {
  position: relative;
  top: 75px;
  padding: 0px 7vw;
}
.home-1-1-2 {
  height: 10%;
  width: 100%;
}

.call-to-action-1 > h1 {
  font-size: 75px;
  margin: 0px 0px 20px 0px;
  color: #F1EEE8;
  font-weight: 600;
}
@media screen and (max-width: 1000px) {
  .call-to-action-1 > h1 {
    font-size: 50px;
  }
}

.buttons-group {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.module-bi {
  background-color: #151713;
  min-height: 100vh;
  width: 100%;
}

.follow-me {
  position: relative;
  transition: transform 0.1s linear;
}

.parallax {
  height: 100vh;
  background-attachment: scroll;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: background-position;
}
@media screen and (max-width: 1000px) {
  .parallax {
    background-size: auto;
  }
}

.isOpen {
  height: 100vh;
}

.module-bi {
  color: #F1EEE8;
  padding: 100px 7vw;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  gap: 7vw;
}
@media screen and (max-width: 1000px) {
  .module-bi {
    flex-direction: column;
  }
}
.module-bi > * {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

h2 {
  font-size: 40px;
  font-weight: bold;
}

h3, h4 {
  font-size: 30px;
  font-weight: bold;
}

p {
  font-size: 20px;
  font-weight: 200;
}

.logo-m {
  width: 150px;
  border: solid #F1EEE8 1px;
  border-radius: 100px;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 5px;
}

.module-grid-square-4 {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.module-grid-square-4 > * {
  height: 45%;
  width: 45%;
  gap: 0px;
  overflow: hidden;
}

.home-3 {
  background-image: url(../img/slate_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.drop-shadow {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.center-y {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center-y > * {
  text-align: center;
}

.home-4 {
  min-height: 100vh;
  width: 100vw;
  background-color: #151713;
  padding: 50px 7vw;
  box-sizing: border-box;
  color: #F1EEE8;
}
.home-4 > h4 {
  text-align: center;
  padding: 0px 0px 50px 0px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex: 1 1 480px; /* permet de grandir et rétrécir entre 520px et 540px */
  max-width: 510px;
  min-width: 480px;
  height: 220px;
  background-color: #F1EEE8;
  color: #151713;
  padding: 40px 50px;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  gap: 10px;
}
@media screen and (max-width: 500px) {
  .item {
    min-width: 0px;
    min-height: none;
    padding: 20px 20px;
    justify-content: center;
  }
}

.stars-container {
  display: flex;
  gap: 5px;
  padding: 0 0 20px 0;
}

em {
  font-style: italic;
}

/*# sourceMappingURL=output.css.map */
